body{
  .rarible-icon{
     &:hover{
      background-color:#feda08;   
      .r-symbole{
        fill:black;
      }
     }
  svg {
    width: 112px;
    position: relative;
    left: -14px;
    .r-symbole{
      fill:white;
    }
  }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .ants-number{
    color: hsl(0deg 0% 0% / 13%);
  }
  .badge-price{
    font-size: 16px;
    top: -12px;
  }
  .badge-bundel{
        top: -14px;
  }
  .bg-transpartent{
    background: solmon;
  }
  .wallet-icon{
    width:35px;
    fill:#d8d4d4; 
  }
  .opensea-icon{
    position: absolute;
    top: -8px;
    left: -5px; 
  }
  .button-buy{
    top: -22px;
    right: -8px;
  }
  .leading-3{
      line-height: 0.9 !important;
  }
  ul{
    .text-4xl:{
      line-height: 0.9 !important;
    }
  }
}
