<template>
<div class="px-5 mx-auto container align-middle">
  <div v-if="transaction.length" v-for="(tx, index) in transaction" :key="index" >
  <div class="grid grid-cols-2 gap-2">
    <div class="shadow rounded-lg py-3 px-5 bg-white">
      <div class="flex">
        <div>
          <h6 class="text-2xl">Database</h6>
          <div class="grid grid-cols-4 gap-2">
            <div>
              <span class="text-gray-300 ">ID</span>
              <h4 class="text-black text-4xl font-bold text-left">{{ tx.bundel_id }}</h4>
            </div>
            <div>
              <span class="text-gray-300">Price</span>
              <h4 class="text-black text-4xl font-bold text-left"> {{ kether(tx.value) }} </h4>
            </div>
            <div>
              <span class="text-gray-300 ">verified</span> 
              <h4 v-if="Boolean(tx.verified) === false" class="text-red-500 text-4xl font-bold text-left"> {{ tx.verified }} </h4>
              <h4 v-else class="text-green text-4xl font-bold text-left"> {{ tx.verified }} </h4>
            </div>
            <div>
              <span class="text-gray-300">message</span> 
              <p>{{ tx.info }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left bg-gray-200 p-2 rounded-lg">
        <div class="grid grid-cols-4 gap-2">
          <div>
            <p><span class="text-gray-500 font-bold">from</span> <br />{{ tx.user_addr.substring(0,6) }}...{{ tx.user_addr.substring(38,48) }}</p>
          </div>
          <div>
            <p><span class="text-gray-500 font-bold">to</span> <br />{{ tx.recipient_addr.substring(0,6) }}...{{ tx.recipient_addr.substring(38,48) }}</p>
          </div>
        </div>
      </div>
    </div> <!-- end card -->
    <div class="shadow rounded-lg py-3 px-5 bg-white">
      <div class="flex">
        <div>
          <h6 class="text-2xl">Blockchain</h6>
          <div class="grid grid-cols-4 gap-2">
            <div>
              <span class="text-gray-300 ">ID</span>
              <h4 v-if="block" class="text-black text-4xl font-bold text-left">{{ tx.bundel_id }}</h4>
            </div>
            <div>
              <span class="text-gray-300">Price</span>
              <h4 v-if="block" class="text-black text-4xl font-bold text-left"> {{ kether(block.value) }} </h4>
            </div>
            <div class="pt-3">
              <button  @click="verify(tx)"  class="bg-yellow-500 w-full rounded-lg font-bold text-white text-center px-4 py-2 transition duration-300 ease-in-out mr-6 mb-3">
                verify 
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left bg-gray-200 p-2 h-16  rounded-lg">
        <div class="grid grid-cols-4 gap-2">
          <div v-if="block">
            <p><span  class="text-gray-500 font-bold">from</span> <br />{{ addrShorter(block.from)}}</p>
          </div>
          <div v-if="block">
            <p><span  class="text-gray-500 font-bold">to</span> <br />{{ addrShorter(block.to)}}</p>
          </div>
          <div class="col-span-2 py-1 px-2"> 
              <button v-if="block"  @click="send"  class="bg-green-500 w-full rounded-lg font-bold text-white text-center px-4 py-2 transition duration-300 ease-in-out mr-6 mb-3">
                insert 
              </button>
          </div>
        </div>
      </div>
    </div> <!-- end card -->
  </div>
</div>
</div>
</template>
<script>
import w3 from '@/scripts/w3'
import { abi, contractAddr } from '@/scripts/abi'
import store from '@/store/index'
import get from '@/scripts/funct'
export default {
  name: 'User Page',
  props: {
    msg: String
  },
  data(){
    return{
      progress:0,
      block:null || false,
      trx:null
    }
  },
   computed:{
     getBundel(addr){
      return this.$store.getters.getbundelByAddr(addr)
     },
    pow(){
      return "go up down"
    },
    products(){
      return this.$store.getters.products
    },
    transaction(){
      return this.$store.getters.tx
    },
  },
  methods:{
    addrShorter(addr){
      return get.addrShorter(addr) 
    },
    send(){
      console.log(this.trx)
      this.insert(this.trx)
    },
    async verify(tx){ 
      const addr = tx.recipient_addr
      let products = this.products
      const bundel = products.find(p => p.creator === addr )
  
      await get.transactionsbyAddr(bundel.creator)
    
      console.log(tx)
      const info = await w3.ether.eth.getTransaction(tx.txhash)

      console.log(info)
      const bundel_id = w3.ether.utils.toAscii(info.input)
      const to =  (info.to === tx.recipient_addr) ? true : false;
      const from =  (info.from.toLowerCase() === tx.user_addr.toLowerCase()) ? true : false;
      const value =  (info.value === tx.value) ? true : false;
      const id =  (Number(bundel_id) === Number(bundel.id) && Number(tx.bundel_id)  === Number(bundel_id)) ? true : false;
      console.log(to) 
      console.log(from) 
      console.log(value) 
      if( to && from && value && id){
        this.block = info
        this.block.input = bundel_id 
        this.trx = { id:Number(bundel_id), tx_id:tx.id , user_addr: info.from.toLowerCase(), txhash: tx.txhash, value: info.value }
      }else{ 
        console.log("false")
      }
    },
    kether(value){ 
      const ether = w3.prov.utils.fromWei( value, 'ether')
      return ether.toString().slice(0,5)
    },
    async insert(obj){ 

     const myAddr = window.ethereum.selectedAddress
     const contract = w3.contract(abi,contractAddr )
     const gasPrice = await w3.gasPrice();
     const result  = await contract.methods.fund(
         obj.id, 
         obj.user_addr, 
         obj.txhash, 
         obj.value
       ).send({
          from: myAddr,
          gas: Number(w3.gasLimit),
          gasPrice: Number(gasPrice)
        })

      if(result.status){
        console.log("gooood! Status Add.vue")
        //console.log(result) 
        const myAddr = window.ethereum.selectedAddress;
        const text = `{ id: ${obj.tx_id}, tname: 'tx', verified: true }`
        const secret = w3.prov.utils.sha3(text)
        const promiseSig = w3.prov.eth.personal.sign( secret , myAddr )
        const sign = await promiseSig
        const sign_obj = {
          message: secret,
          text : text,
          sign_message : sign 
        }
        console.log(sign_obj)
        this.$store.dispatch("addSmart",sign_obj) 
      }else{
       console.log("Heeeeeeeey eror has happened")
      }
      
        //console.log(obj)
    },
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
  }
}
</script>

