<template>
  <!-- This is an example component -->
<div class="max-w-5xl mx-auto mt-1 pt-4">

	<div class="flex flex-col">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                id
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                image
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                               goal 
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                users
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                               value
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                               address
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                               platform 
                            </th>
                            <th scope="col" class="p-4">
                                <span class="sr-only">Edit</span>
                            </th>
                            <th scope="col" class="p-4">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"> 
                        <tr v-if="products.length" v-for="(product, index) in products" :key="index" class="hover:bg-gray-100 dark:hover:bg-gray-700">
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ product.id }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white"><img width="80" height="60" :src="product.image_url" /></td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ product.goal  }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ product.users }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">{{ product.value }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">{{ product.creator.substring(0,4) }}...{{ product.creator.substring(28,32) }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="ri">{{ product.platform }}</a></td>
                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <span class="text-blue-600 dark:text-blue-500 hover:underline" @click="buy(product, index)">buy</span>
                            </td>
                            <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <span class="text-blue-600 dark:text-blue-500 hover:underline" @click="updateTx(product)">insert</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
</template>
<script>
import w3 from '@/scripts/w3'
import { abi, contractAddr } from '@/scripts/abi'
import rarible from '@/scripts/rarible'
import get from '@/scripts/funct'
import con from '@/scripts/const'
export default {
  name: 'User Page',
  props: {
    msg: String
  },
  data(){
    return{
      progress:0,
      txObj:null,
      insertTx:false,
    }
  },
   computed:{
    products(){
      return this.$store.getters.buyProducts
    }
  },
  methods:{
    /*
    async insert(obj){ 

     const myAddr = window.ethereum.selectedAddress
     const contract = w3.contract(abi,contractAddr )
     const gasPrice = await w3.gasPrice();
     const result  = await contract.methods.fund(
         obj.bundel_id, 
         obj.user_addr, 
         obj.txhash, 
         obj.value
       ).send({
          from: myAddr,
          gas: Number(w3.gasLimit),
          gasPrice: Number(gasPrice)
        })

      if(result.status){
        console.log("gooood! Status Add.vue")
        //console.log(result) 
        const myAddr = window.ethereum.selectedAddress;
        const text = `{ id: ${obj.id}, tname: 'tx', verified: true }`
        const secret = w3.prov.utils.sha3(text)
        const promiseSig = w3.prov.eth.personal.sign( secret , myAddr )
        const sign = await promiseSig
        const sign_obj = {
          message: secret,
          text : text,
          sign_message : sign 
        }
        this.$store.dispatch("addSmart",sign_obj) 
      }else{
       console.log("Heeeeeeeey eror has happened")
      } 
      //console.log(obj)
    },
    */
    async updateTx(obj){ 
      const myAddr = window.ethereum.selectedAddress; 
      const chain = await w3.prov.eth.getChainId()
      let txObj= null;
      if(!!this.txObj){ 
        txObj= this.txObj
      }else{
        if(!!localStorage.getItem('txObj')){ 
          const txObjString = localStorage.getItem('txObj')
          txObj = JSON.parse(txObjString)
          this.$store.commit("addNote", [{ type:'Info', text: `got transaction from localStorage pleae verify it ${ txObj.tx }`}])
        }
      }
      if(!!txObj=== false){
        this.$store.commit("addNote", [{ type:'Error', text: `Verify if you had already bought the NFT, if yes than you have to include tx buy self on the blockchain`  }])
        return;
      }

      
      if( Number(chain) === 4 ){ 
        get.switchChain(80001)
      }

      if( Number(chain) === 137 ){ 
        get.switchChain(1)
      }
      console.log(con.addr) 
      console.log(con.currentAddr) 
      
      if(con.addr.toLowerCase()  !== myAddr.toLowerCase()){
        this.$store.commit("addNote", [{ type:'info', text: `please change your address to this Addr: ${con.addr}`  }])
        return;
      }
     
      console.log("nice! =========================")
      console.log(txObj)
      this.$store.dispatch("updateTxSc", txObj) 
    },
    async buy(obj, index){
      switch (obj.platform[0]) {
        case "rarible":
          const chain = await w3.prov.eth.getChainId()
         
          const myAddr = window.ethereum.selectedAddress; 
          // if testnet mumbai so switch to rinkeby
          if( Number(chain) === 80001 ){ 
            get.switchChain(4)
          }

          // if mainet so switch to polycon
          if( Number(chain) === 1 ){ 
            get.switchChain(137)
          }

          if(obj.creator.toLowerCase() !== myAddr.toLowerCase()){
            this.$store.commit("addNote", [{ type:'info', text: `please change your address to this Addr: ${obj.creator} on ${obj.platform[0]}`  }])
            return;
          }
          
          const hash = await rarible.buy(obj)
          console.log(hash)
          if(hash){ 
            this.txObj = { id: obj.id  ,tx: hash, index: index }    
            localStorage.setItem('txObj', JSON.stringify(this.txObj));
            if( Number(chain) === 4 ){ 
              get.switchChain(80001)
            }

            if( Number(chain) === 137 ){ 
              get.switchChain(1)
            }
            this.$store.commit("addNote", [{ type:'success', text: `you have succefull bought this nft Addr: ${obj.image_addr}`  }])
          }

          break;
        case "opensea":
          console.log("Apples are $0.32 a pound.");
          break;
        default:
          console.log("Platform not exist");
      }
    },
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
  }
}
</script>

