<template>
  <div class="home p-8 grid grid-cols-2 gap-4  md:grid-cols-4 md:gap-4 ">
    <div class="col-span-4 grid grid-cols-3 gap-4 ">
      <div class="bg-white rounded-2xl">
       <WhiteList />
      </div>
      <div class="bg-white rounded-2xl">
        <CreateProduct :address="bundelAddr" />
      </div>
      <div class="bg-white  h-20 rounded-2xl">
      </div>
    </div>  
    <div class="col-span-4">
      <div class="grid grid-cols-2 gap-4  md:grid-cols-4 md:gap-4   lg:gap-7 xl:gap-8  2xl:gap-8">
        <div v-for="(product, index) in products" :key="index"   :class="{ 'col-span-4' : product.kind === 'ProductDetail' }">
          <component :is="product.kind" :obj="{ ...product, index: index }" />
        </div> 
      </div>
    </div>  
    </div>  
</template>

<script>
// @ is an alias to /src
import Product from '@/components/Product'
import ProductDetail from '@/components/ProductDetail'
import CreateProduct from '@/components/CreateProduct'
import WhiteList from '@/components/WhiteList'
import Icons from '@/components/Icons'
import { abi, contractAddr } from '@/scripts/abi'
import w3 from '@/scripts/w3' 
// import Abi from '@/abi.json'
//import initSdk from '@gnosis.pm/safe-apps-sdk';
import Safe, { SafeFactory } from '@gnosis.pm/safe-core-sdk'
import SafeServiceClient from '@gnosis.pm/safe-service-client'
import Web3Adapter from '@gnosis.pm/safe-web3-lib'
import Web3 from 'web3'

//var web3 = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/v3/b93d472f6b5c4d92b08e7130cdd796d9"));

export default {
  name: 'Home Page',
  components: {
    ProductDetail, 
    CreateProduct,
    WhiteList,
    Product,
    Icons
  },
  data(){
    return {
      // contract
      abi: null,

      // Products
      showProductDetail: true,
      openIndex:null,
      appendIndex: null,
      prevImage: null,
      userAddr: "",
      safeAddress: "0x88c6A006E15D7340995Cc5e7C45CA890304109C0",
      bundelAddr: null,
      /*
      products:[
       ], 
       */

      // metamask
      account: null,
      balance: null,
    }
  },
  computed:{
    currentAddress(){
     return this.$store.getters.address;   
    }, 
    products(){
      return this.$store.getters.products
    }
  },
  methods:{
    validate_txhash(addr)
    {
      return /^0x([A-Fa-f0-9]{64})$/.test(addr);
    },
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
    restWallet(){ 
      this.bundelAddr = null
    },
    addWallet(wallet){
        
      this.bundelAddr = wallet
    },
    async pay(){
      let pain = "0x197b5a264771d63b34737a397455039acf47cea15a4d62a010157ad743a5bd4f"
      console.log(this.validate_txhash(pain)) 
      const amount = "0.0004";
      const wei = web3.utils.toWei(amount, "ether");
      const gasprice = await web3.eth.getGasPrice()
      console.log(this.userAddr)
      try {
       const result = await window.ethereum.request({
          method: 'eth_sendTransaction',
          params: [
            {
              from: this.userAddr,
              to: this.safeAddress,
              value: web3.utils.toHex(wei),
            },
          ],
        })
        
        if(this.validate_txhash(result)){
          consle.log(result)
        }else{
          console.log("wrong transactioN")
        }
      } catch (error) { 
        console.log(error)
      }

      },
    closeProductDetail(){
      console.log("========== closeProductDetail =============")
      console.log("close ")

       this.$store.dispatch("remove") 
      
      //this.products.splice(index,1);
      this.showProductDetail = !this.showProductDetail;
      //console.log(this.products)
    },
   appendProductDetail(boxId, index  ,obj){
      console.log("========= appendProductDetail =============")
      console.log("i gonna append it to", index)
      this.appendIndex = index;
      const objDetail = { ...obj, kind: "ProductDetail" }
    
      
     this.$store.dispatch("update",{ 
       index : index,
       obj: objDetail
     }) 
      //this.products.splice( index,0, objDetail)
      this.prevImage = boxId;
      //console.log(this.products)
      this.showProductDetail = !this.showProductDetail;
    },
    async productSetup(obj){
      console.log(obj)
         let perRow = 4
      // so the array index will start at one 
      let imageId = obj.index + 1
      let total = (imageId + perRow + 1)
      for( let i = imageId; i <= total; i ++  ){
        //console.log(`${i} % ${perRow} = ${( i % perRow)}`)
        if(i % perRow === 0){
          console.log("Image id " + imageId)
          console.log("show detail " + this.showProductDetail)
          if(this.showProductDetail){
            this.openIndex = i
            console.log("append index " + this.openIndex)
            this.appendProductDetail(imageId, i , obj)
          }else{
            // code for closing the product detail page
            // same image was clicked so close the detail page
            if(obj.kind === "Product" && this.prevImage === imageId ){
              console.log("same image clicked")
              this.closeProductDetail()

            // diffrent image was clicked, so close the open detail page
            // add append an other new datail page 
            }else{ 

              // image in the some row was clicked
              // just update the data 
              if(i === this.openIndex){
                
                console.log("different image clicked")
                this.closeProductDetail()
                this.appendProductDetail(imageId,i, obj);

              }else{ 
                //console.log("ProductDetail is showed up " + this.showProductDetail)
                // new row has been clicked will the other row is open
                
                this.closeProductDetail();
                //this.appendProductDetail(imageId,i, obj);
                
                this.appendProductDetail(imageId, i , obj)
                console.log("ProductDetail is showed up " + this.showProductDetail)
                //console.log(" openIdex is:" + this.openIndex)
                console.log("new row")
                console.log("i is " + i)
                console.log("Image id " + imageId)
              }
            }
          } 
          break;
        }
      }
    },
    async addProductCard(start,end, obj){ 
      // appending the first 20 images start = 0 | end = o
      //let result = await this.$store.dispatch('products/loadProducts'); 
      for(let i =start; i <= end; i++){
        let img = "image_"+i
        this.products.push({
            id: i ,
            image: img,
            value: "",
            go: "0x5d083E56da1e359Be12CC3bBECF1db701CeAFEd4",
            tx: "",
            kind:"Product"
          }) 
      }
      console.log(this.products)
    },
  },
  created(){
  },
  async mounted(){

    //this.addProductCard(1,4)
  
    if(window.ethereum){

      
      //let resulawait this.$store.dispatch('products/loadProducts'); 

      /*
      // gets the abi from polygonscan and saves it to  localStorage if there is no abi
      if( localStorage.getItem('abi')){
          this.abi = localStorage.getItem('abi') 
      }else{
       const networkId =  window.ethereum.networkVersion;

       // getd ABI
       const ABI = await poly.loadAbi(networkId)
       if(ABI !== false){
          this.abi = ABI 
          const stringAbi = ' '+ ABI 
          // save abi to the localStorage
          localStorage.setItem('abi', stringAbi);
       }else{
         console.log("ABI is False error happends")
       }
      
      } 
      */ 
  
    }
    
    //*********************************************************************************************************************
    //**********************************************  rinkeby Testnet  ****************************************************
    //*********************************************************************************************************************

    const safeAddress = "0x88c6A006E15D7340995Cc5e7C45CA890304109C0"
    // console.log(window.ethereum) 

    console.log(web3) 

    //*********************************************************************************************************************
    //********************************************** gnosis getinfo from client  *******************************************
    //*********************************************************************************************************************

    // https://docs.gnosis-safe.io/tutorials/tutorial_tx_service_initiate_sign
    // on this link there is the mainet, rinkey goerlin network

    // I need the client to get info about my smart contract 
    
    /*
    const safeService = new SafeServiceClient('https://safe-transaction.rinkeby.gnosis.io/')
    const ruki = await safeService.getIncomingTransactions(safeAddress)
    console.log(ruki)
    const go = await safeService.getSafesByOwner("0x4DBcf2EA3FBc72A2eD9677AA0a59442C0B8D4B7B")
    
    console.log(safeService)
    const op = await safeService.getBalances(safeAddress)
    const info = await safeService.getSafeInfo(safeAddress)
    console.log(info) 
    
    */


    //*********************************************************************************************************************
    //********************************************** gnosis getinfo from client  *******************************************
    //*********************************************************************************************************************

    /*
    var web3 = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/v3/b93d472f6b5c4d92b08e7130cdd796d9"));
    const ethAdapter = new Web3Adapter({
      web3,
      signerAddress: "0x4DBcf2EA3FBc72A2eD9677AA0a59442C0B8D4B7B" 
    })

    const safeFactory = await SafeFactory.create({ ethAdapter, isL1SafeMasterCopy: true })
    //const contract = await safeFactory.getContract()
    console.log(safeFactory)
   const safeSdk = await Safe.create({ ethAdapter, safeAddress, isL1SafeMasterCopy: true }) 
    console.log(safeSdk)
    */
    //*********************************************************************************************************************
    //********************************************** Metamaskt connection  ************************************************
    //*********************************************************************************************************************
    /*
    const accounts  = await window.ethereum.request({
             method: "wallet_requestPermissions",
             params: [{
                  eth_accounts: {}
             }]
           }).then(() => ethereum.request({
               method: 'eth_requestAccounts'
           }))
    console.log(accounts[0])
    */
  }
}
</script>
