<template>

  <div class=" bg-white h-28 ">
    <div class="grid  grid-cols-4 gap-4 p-4">
      <div class="h-20 p-3">
                <div class="bg-gray-100 p-2 font-bold text-5xl font-serif relative rounded-3xl flex  place-content-center">
                  <span class="absolute badge-price text-1 bg-gray-100 font-sans rounded-2xl p-1 px-2">Wallet balance</span>
                  <span class="font-sans" >Ξ</span>0.038</div>
      </div>
      <div class="col-span-2 relative flex  place-content-center">
          <div class="absolute bg-red-200 h-48 w-48 rounded-full">
          </div>
      </div>
      <div>
      <div class="h-20 p-3 px-5">
                <div class="bg-gray-100 p-2 font-bold text-5xl font-serif relative rounded-3xl flex  place-content-center">
                  Ant Name</div>
      </div>
      </div>
      
    </div>
  </div>
  <div class=" h-28 mb-8">
    <div class="grid  grid-cols-4 gap-4 p-4">
      <div class="h-20 p-3">
          <div class="text-white p-2 font-bold text-5xl font-serif relative rounded-3xl flex  place-content-center">
            My NFTs</div>
      </div>
      <div class="col-span-2 relative flex  place-content-center">
      </div>
      <div>
      <div class="h-20 p-3 px-5">
          <div class="text-gray-300 p-2 font-bold text-5xl font-serif relative rounded-3xl flex  place-content-center">
            History</div>
      </div>
      </div>
      
    </div>
  </div>
  <div class="container mx-auto bg-yellow-200 h-48 p-8">
  </div>

</template>

<script>
export default {
  name: 'User Page',
  props: {
    msg: String
  },
  data(){
    return{
      progress:0
    }
  },
  methods:{
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
  }
}
</script>

