<template>
    <div class="p-3 h-full">
      <button v-if="address" @click="lunch" class="bg-blue-500 w-full rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
        Lunch now
      </button>
      <button v-else @click="lunch" class="bg-gray-500 w-full rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out mr-6">
        Lunch now
      </button>

    <div class="border-2 border-gray-100 p-2">

      <div class="grid grid-cols-2 gap-1 ">
      <div>

      <div class="  w-full">
        <input type="search"  v-model="nftAddress"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="NFT Address" >
      </div>

      <div class="  w-full">
        <input type="search"  v-model="userQuantity"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="User quantity" >
      </div>

      <div class="  w-full my-1">
        <input type="search"  v-model="etherPrice"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="Ether price like 0.001" >
      </div>
      
      <div class="  w-full">
        <input type="search"  v-model="nftUrl"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="image Url" >
      </div>
    
      </div>
      <div>
      <div class="w-full">
        <input type="search"  v-model="nftId"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="Nft id" >
      </div> 
        <img v-if="nftUrl" :src="nftUrl" class="rounded-xl">
      </div>
      </div>
      </div>
    </div>
</template>

<script>
import {abi, contractAddr} from '@/scripts/abi'
import api from '@/scripts/nftAPI'
import w3 from '@/scripts/w3'

import {
  encrypt,
  recoverPersonalSignature,
  recoverTypedSignatureLegacy,
  recoverTypedSignature,
  recoverTypedSignature_v4 as recoverTypedSignatureV4,
} from 'eth-sig-util';
export default {
  name: 'HelloWorld',
  props: ["address"],
  data(){
    return{
      //input fields
      userQuantity: null,
      etherPrice: null,
      nftAddress: null,
      nftId: null,
      nftUrl: "",
      platform:null,
    }
  },
  computed:{
    asset(){
     return this.nftId && this.nftAddress;
    },
  },
  watch:{
    async asset(newVal, oldVal){
     try{
     
     const nft = await api.getAsset(this.nftAddress,this.nftId)
 
     this.platform = nft["platform"]
     this.nftUrl = nft.image;
     this.etherPrice = nft.price; 

     }catch(e){
      console.log(e)
      console.log("no image")
     }
      
    }
  },
  methods:{
    async lunch(){  
       
      if(window.ethereum){
        //const abi = JSON.parse(ABI)
        console.log(this.platform[0])
      
        var platform = [];
        for (var page in this.platform) {
          platform.push(this.platform[page])
        }
        
        const contract = w3.contract(abi,contractAddr )
        const myAddr = window.ethereum.selectedAddress
        const exp = 10**18
        const wei = Number(((this.etherPrice * exp) / this.userQuantity  ))
        console.log("price per user " + wei  )
        if(this.userQuantity !== null && this.etherPrice !== null && this.nftAddress !== null && this.nftUrl && this.address !== null){
          try{
            var result = await contract.methods.start(
              this.address, this.userQuantity, wei.toString(), platform , this.nftAddress, this.nftUrl, this.nftId 
            ).send({
                from: myAddr,
                gas: Number(w3.gasLimit),
                gasPrice: Number(w3.gasPrice)
            })
            if(result.status){
              console.log("gooood! Status")
              this.$store.dispatch("load")
              Object.assign(this.$data, this.$options.data.call(this));
              this.$store.dispatch("updateDB") 
              this.$parent.restWallet()
              console.log(result)
            }else{
               console.log("Heeeeeeeey eror has happened")
            }
          }catch(e){
            console.log(e)
            console.log("error sending")
          }
        }
      }else{
        const value = 10**18
        console.log(value)
        console.log("you ar not loged in")
      }
    
    },
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
