<template>
<div class="grid grid-cols-8 h-16 gap-2">
  <div class=" bg-blue-300"  >
    <router-link to="/"><p class="text-3xl">AntBack</p></router-link>
  </div>  
  <div class="col-span-6">
    <div class="grid grid-cols-none gap-2 p-1 h-14 ">
        <div v-if="currentAddress" class="bg-white p-2 h-full w-full rounded-1xl font-bold bg-green-400  flex justify-items-center justify-items-center place-content-center">
            <router-link to="/add">
              <span class="tracking-wider  text-gray-300 bg-white px-4 py-1 text-sm rounded leading-loose mx-2 font-semibold" title="">
                <i class="fas fa-star" aria-hidden="true"></i> Add
              </span>
            </router-link>
            <router-link to="/buy">
              <span class="tracking-wider text-gray-300 bg-white px-4 py-1 text-sm rounded leading-loose mx-2 font-semibold" title="">
                <i class="fas fa-heart" aria-hidden="true"></i> Buy 
              </span>
            </router-link>
            <span class="tracking-wider text-gray-300 bg-white px-4 py-1 text-sm rounded leading-loose mx-2 font-semibold" title="" @click="updateDB" >
              <i class="fas fa-award" aria-hidden="true"></i> stats
            </span>
            {{ notification }}
        </div>
        <div v-else  class="bg-white h-10 w-full rounded-3xl font-bold bg-gray-100">
            <p> You have been logout, please log in</p>
        </div>
      </div>
  </div>
  <div v-if="!isUser" @click="login" class=" py-1 flex justify-items-center justify-items-center place-content-center">
    <Icons name="wallet" />
  </div>
  <div v-else  class=" p-2 flex justify-items-center justify-items-center place-content-center">
    <router-link to="/user">
      <div  class="h-10 w-10  rounded-full "  :style="{ backgroundColor: colorAddr() }"> </div>
    </router-link>
  </div>

  <!--
  <div class=" p-4 flex justify-items-center justify-items-center place-content-center">
    <router-link to="/user"><Icons name="wallet" /></router-link>
  </div>
  -->
</div>
<div v-if="notification" class="nofication bg-white min-h-16 p-4"> 
  <Notiz />
</div>
</template>

<script>
import Icons from '@/components/Icons.vue'
import Notiz from '@/components/notiz.vue'
import w3 from '@/scripts/w3' 
import funct from '@/scripts/funct'
import scan from '@/scripts/polygonscan.js'
import { uuid } from "vue-uuid";
export default {
  name: 'Header',
  components: {
    Icons,
    Notiz 
  },
  props: {
    msg: String
  },
  data(){
    return{
      notification:false
    }
  },
  computed:{
    notify(){ 
      return this.$store.getters.notify   
    },
    isUser(){ 
      return this.$store.getters.isAuthenticated   
    },
    currentAddress(){
      return this.$store.getters.address   
    },

  },
  watch: {
    notify(newValue) {
      let message = !!newValue 
      if(message === true){
        console.log("lest change " + message )
        this.notification = true 
      }else{ 
        this.notification = false 
      }
    }
  },
  methods:{
    colorAddr(){
      return funct.colorAddr(this.currentAddress)
    },
    async updateDB(){
      this.$store.dispatch("updateDB") 
    },


      async login(){ 
        /*
        console.log(w3.prov) 
        console.log()

        const secret ="hallo world"
        const myAddr = window.ethereum.selectedAddress;
        const promiseSig = w3.prov.eth.personal.sign( secret , myAddr )
        const sign = await promiseSig

        const obj = {
          message: secret,
          sign_message : sign 
        }
        console.log(obj)
        */
        if(window.ethereum){
          try{

             const accounts  = await window.ethereum.request({
               method: "eth_accounts"
              })
            console.log(accounts)
            if(accounts.length === 0){
             const accounts  = await window.ethereum.request({
               method: "wallet_requestPermissions",
               params: [{
                    eth_accounts: {}
               }]
             }).then(() => ethereum.request({
                 method: 'eth_requestAccounts'
             }))
              this.account = accounts[0]
              this.$store.dispatch("send", accounts[0]) 
              this.$forceUpdate();
            }else{
             const accounts  = await window.ethereum.request({
               method: "eth_accounts"
              })
              console.log(web3.currentProvider)
              console.log(accounts)
              this.$store.dispatch("send", accounts[0]) 
              this.$forceUpdate();

            }
          }catch(error){
             console.log(error)
          }
        }
        

    },
  }
}
</script>

