<template>
<div class=" bg-white h-full rounded-3xl bg-cover p-6">
    <div class="grid grid-cols-4 gap-4">
      <div class=" bg-cover  flex justify-items-center justify-items-stretch " >
        <!-- :style="{ backgroundImage: 'url(' +  this.imgUrl(' + obj.image + ') + ')'}" -->
        <img class="object-cover h-full rounded-3xl" :src="obj.image_url">
      </div>
      <div class="bg-white  col-span-2 rounded-3xl">
        <div class="grid grid-cols-4 gap-4  px-2 ">
          <div class="col-span-4">
            <div class=" ">
              <div class="w-4/12 float-left pr-2 ">
                <div class="bg-gray-100 p-2 font-bold text-5xl font-serif rounded-3xl relative flex  place-content-center" >
                  <span class="absolute badge-price text-1 bg-gray-100 font-sans rounded-2xl p-1 px-2">NFT Price</span>
                  <span class="font-sans" >Ξ</span>{{ nftPrice }}</div>
              </div>
              <div class=" w-4/12 float-left ">
                <div class="bg-gray-100 p-2 font-bold text-5xl font-serif relative rounded-3xl flex  place-content-center">
                  <span class="absolute badge-price text-1 bg-gray-100 font-sans rounded-2xl p-1 px-2">NFT Ant Price</span>
                  <span class="font-sans" >Ξ</span>{{ kether }}</div>
              </div>
              <div class="w-4/12 float-left pl-2">
                <div class="bg-gray-100  p-2 font-bold text-5xl font-serif rounded-3xl relative flex  place-content-center">
                  <span class="absolute badge-price text-1 bg-gray-100 font-sans rounded-2xl p-1 px-2">NFT sell price</span>
                  <span class="font-sans" >Ξ</span>{{ sellPrice }}</div>
              </div>
              <span class="clear-both"></span>
            </div>
            </div>
          <div class="relative   col-span-4 margin-top border-orange-200 border-8  mt-5 mb-4 h-20 rounded-full">
            <p class="absolute font-serif text-5xl pt-2 ants-number inset-x-0.5 text-center "><span>{{ Number(obj.addr_list.length) }}</span> / <span>{{ Number(obj.goal) }}</span></p> 
            <div class="absolute border-8 border-orange-200 top-1 right-0 bg-orange-300 h-28 w-28 rounded-full button-buy p-2" @click="[progressBar(),testbuy()]">
              <Icons name="plus" />
            </div>
            <div class="bg-gradient-to-r from-yellow-200  to-yellow-500 h-full rounded-full rounded-r-2xl" :style="{ width: progress + '%'  }" >
            </div>
          </div>
          <div v-if="obj.platform[0] === 'rarible'" class="col-span-4 relative bg-gray-200  h-20 w-20 rounded-full rarible-icon">
            <Icons name="rarible" /> <path d="M385.8 59h449.4C917.9 59 985 126.1 985 208.8v449.4c0 82.7-67.1 149.8-149.8 149.8H385.8C303.1 808 236 740.9 236 658.2V208.8C236 126.1 303.1 59 385.8 59z" style="fill: rgb(254, 218, 8);"></path>
          </div>
          <div v-if="obj.platform[0] === 'opensea'" class="col-span-4 relative bg-gray-200 hover:bg-blue-500 h-20 w-20 rounded-full">
            <Icons name="opensea"  /> 
          </div>
         </div>
      </div>
      <div class="border-8 border-gray-100 relative grid flex justify-items-center justify-items-stretch  rounded-3xl p-2">
        <div class="absolute inset-x-4 top-6 badge-bundel">
          <p ><span class="bg-white px-2 font-serif ">Ant Bundle</span></p>
        </div>
        <div class="bg-white grid gap-4 grid-cols-4 p-4 flex overflow-x-auto no-scrollbar  h-60 rounded-3xl">
          <div v-if="Number(!!obj.users.length)" v-for="(address, index ) in obj.addr_list"  class="h-14 w-14 rounded-full "  :style="{ backgroundColor: colorAddr(address) }"> </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import Icons from '@/components/Icons.vue'
import w3 from '@/scripts/w3'
import funct from '@/scripts/funct'
import rarible from '@/scripts/rarible'
export default {
  name: 'DetailPage',
  props: ["name","obj"],
  components: {
    Icons
  },
  data(){
    return{
      progress:0
    }
  },
  computed:{
    sellPrice(){
      return funct.sellPrice(this.obj.value, this.obj.goal)
    },
    nftPrice(){
      return funct.nftPrice(this.obj.value, this.obj.goal)
    },
    fourAvatar(){
      return funct.fourAvatar(this.obj.addr_list)
    },
    kether(){
      return funct.kether(this.obj.value)
    }
  },
  methods:{
  testbuy(){
    rarible.buy(this.obj) 
  },
  progressBar() {
    console.log("click") 
    if(this.progress < 100) {
      this.progress += 5;
    }
  },
  colorAddr(addr){
    return funct.colorAddr(addr)
  },
  imgUrl(img){
   return require(`@/assets/img/${img}.png`)
    // The path could be '../assets/img.png', etc., which depends on where your vue file is
  },
  }
}
</script>

