<template>
<div class="bg-white h-48 sm:h-32  md:h-40 lg:h-72  2xl:h-80 rounded-3xl bg-cover"
   :style="{ backgroundImage: 'url(' + obj.image_url + ')'}" @click="showProductDetail(obj)" >
  <div class="grid w-full p-4">
    <div class="bg-trasp-white h-16 rounded-3xl p-2 ">
      <div class="grid  grid-cols-4">
      <div class="col-span-3">
        <div class="flex -space-x-6 overflow-hidden">
          <div v-if="Number(obj.users)" v-for="(user, index) in fourAvatar" class="inline-block h-12 w-12  rounded-full" :style="{ backgroundColor: imageColor(index) }"></div>
          <div class="inline-block h-12 w-12 bg-red-200 rounded-full p-2">
            <Icons name="plus" />
          </div>
        </div>
      </div>
      <div>
        <ul class="list-none">
          <li class="text-4xl font-bold font-serif  text-right leading-3">{{ Number(obj.users) }}</li>
          <li class="font-bold font-serif leading-3 text-right"><span class="font-sans" >Ξ</span  >{{ kether }}</li>
        </ul>
      </div>
      </div>
      </div>
  </div>
</div> 
</template>

<script>
import Icons from '@/components/Icons.vue'
import { contractAddr } from '@/scripts/const'
import Web3 from 'web3'
import w3 from '@/scripts/w3' 
export default {
  name: 'Prouduct',
  props:["obj"],
  components: {
    Icons
  },
  data(){
    return{
      progress:0,
      bundels:[
       ], 
    }
  },
  computed:{
    fourAvatar(){
      return this.obj.addr_list.filter(( avatar  ,idx) => idx < 4) 
    },
    imageColers(){
      //return ['#EF4444','#F97316','#EAB308','#84CC16','#0EA5E9','#D946EF'][Math.random()*6|0]
    },
    kether(){ 
      const ether = w3.prov.utils.fromWei( this.obj.value, 'ether')
      //return parseFloat(ether).toFixed(3);
      return ether.toString().slice(0,5)
    }
  },
  methods:{

    imageColor(index) { 
      let str = this.obj.addr_list[index].toString()
      var hash = 0;
      for (var i = 0; i < str.length; i++) {
          hash = str.charCodeAt(i) + ((hash << 5) - hash);
      }
      var colour = '#';
      for (var i = 0; i < 3; i++) {
          var value = (hash >> (i * 8)) & 0xFF;
          colour += ('00' + value.toString(16)).substr(-2);
      }
      return colour;
    },
    showProductDetail(obj){
      this.$parent.productSetup(obj)
    },
    imgUrl(img){
     return require(`@/assets/img/${img}.png`)
      // The path could be '../assets/img.png', etc., which depends on where your vue file is
    },
  },
  async mounted(){

    /*
    var option = {
      address: contract,
    fromBlock: 'latest',
    };
     contract.events.Launch(option)
      .on("connected", function(subscriptionId){ console.log(subscriptionId);})
      .on('data', function(event){ 
        console.log("find")
        console.log(event);})
    */

    //var logs = await contract.getPastEvents('Lanch')
    /*
    contract.events.Launch({ fromBlock: 'latest'}, 
      function(error, event){
        if(error){
          console.log(error)
        }else{
          console.log("hire")
          console.log(event)
        }
    })
    */
    //console.log(contract.events)
    
  
    /*
    w3.prov.eth.subscribe('Transfer', option, function (error, result) {
        if (!error)
            console.log("error")
            console.log(result);
    })
        .on("data", function (log) {
            
            console.log(log);
        })
        .on("changed", function (log) {
    });

    let options = {
    fromBlock: "latest",                  //Number || "earliest" || "pending" || "latest"
  }
  

    contract.events.Launch({},options)
      .on('data', event =>{ 
        console.log("data")
       console.log(event)
      })
      .on('changed', changed => {
        console.log("chaged")
        console.log(changed)})
    .on('error', err => console.log(err))
      .on('connected', str =>{
        //console.log("connected")
        //console.log(str)
      })
    
      
    /*
    var myEvents = await w3.prov.eth.getPastLogs({
      fromBlock: 'latest',
      address: contractAddr, 
      topics:[
        w3.prov.utils.sha3('Launch(uint256,address,address,address,uint256,uint256,bool)')
      ]
    })
    console.log(myEvents)
    */

   /* 
    for(let i =1; i <= 4; i++){
       let img = "image_"+i
      this.bundels.push({
          id: i ,
          image: img,
          value: "",
          go: "0x5d083E56da1e359Be12CC3bBECF1db701CeAFEd4",
          tx: ""
        }) 
    }

      */
  }
}
</script>

