<template>
    <div class="p-3 h-full">
      <button v-if="bundelAddr.length" @click="addWallet" class="bg-blue-500 w-full rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
        Add Wallet
      </button>
      <button v-else class="bg-gray-500 w-full rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
        Add Wallet
      </button>
    <div class="border-2 border-gray-100 p-2">
      <div class="  w-full">
        <input type="search"  v-model="bundelAddr"  x-model="input3"
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            placeholder="NFT Address" >
      </div>
      <div v-if="bundelAddr.length" class="text-5xl  w-full">
        {{ bundelAddr.substring(0,6) }}...{{ bundelAddr.substring(38, 42) }}
      </div>
      <div v-if="bundelAddr.length" class="text-5xl  w-full">
        {{ balance }}
      </div>
      </div>
   </div>
</template>

<script>
import {abi, contractAddr} from '@/scripts/abi'
import api from '@/scripts/nftAPI'
import w3 from '@/scripts/w3'
export default {
  name: 'HelloWorld',
  props: {
    //msg: String
  },
  data(){
    return{
      bundelAddr: "",
      balance:null
    }
  },
  computed:{ 
  },
  watch:{
    async bundelAddr( newVal,oldVal){
      if(newVal.length){ 
         let balance = await w3.ether.eth.getBalance(this.bundelAddr);
        const ether = w3.ether.utils.fromWei( balance , 'ether')
        this.balance = parseFloat(ether).toFixed(3);
         console.log(balance)
      }
    }
  },
  methods:{
    async addWallet(){
      const myAddr = window.ethereum.selectedAddress;
      let promiseSig;
      if(myAddr.toLowerCase() === this.bundelAddr.toLowerCase()){
        try{
          promiseSig = w3.prov.eth.personal.sign( this.bundelAddr , this.bundelAddr )
        }catch(error){
          console.log("error happend")
          return;
        }
        const sign = await promiseSig
        if(sign){
          this.$parent.addWallet(myAddr)
        }
      } 
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
