<template>
  <div class="container max-w-full bg-indigo-900">
    <section class="sticky top-0 z-50 bg-white shadow-md"  id="header">   
      <Header />
    </section>
    <section calss="relative"  id="content" class=" min-h-screen">
    <router-view/>
    </section>
    <section id="footer">
    </section>
  </div>
</template>
<script>
import Header from '@/components/Header.vue'
import metamask from '@/scripts/metamask'
//import rarible from '@/scripts/rarible'
import opensea from '@/scripts/opensea'
export default {
  name: 'App.vue',
  components: {
    Header
  },
  data(){
    return{
    } 
  },
  methods:{
  },
  async mounted(){
       
    if(window.ethereum){
      // load metamask functions
      metamask.setup()
      this.$store.dispatch("load") 
      this.$store.dispatch("loadTxDB") 

    }
  }
}
</script>
